body {
	background-color: #ADD8E6;
}

img {
	border: 2px solid black;
}

.friends {
	font-style: italic;
}

.firendStatus{
	font-style: normal;
	margin-left: 40px;
}

.profileProperty{
	font-weight: bold;
}